body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box !important;
  /* box-sizing: content-box; //This will add the margin and padding to our content width making it larger. It is just as in default mode*/
  margin: 0 !important;
  /* padding: 0 !important; This Will Ruin All The Padding in Navbar so Exclude This */
}
